body,html {background:#fff;margin:0; font-family:Lucida Sans Unicode, Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;font-size:12px;color:#444;height: 100%;}

a img {border:none;}

#wrapper {width:auto;height:100%;background:#000;margin:0px auto;z-index:999;position:fixed;}

h3 {color:#396A88;font-size:1.6em;}
h6 {color:#888;font-size:1.2em;padding:0;margin:0;font-family:georgia, Times New Roman, Times, Serif;font-style:italic;}

p {width:600px;}


.bartopfixed{
  width: 100%;
  height: 50px;
  background: #c59bb4;
  z-index:9999;
  position:fixed;
  border-bottom: 1px solid #7d4a68;
  box-shadow: 0 0 5px;
}

#container {
  background:url(../img/coracoes.png);
      background-size: cover;
    width: 100%;
    height: 100%;
  position:relative;
  width:100%;
  height:100%;
  z-index:999;position:fixed;
}

#overlay {
  position:absolute;
  top:0;
  left;0;
  width:899px;
  height:358px;
  
  z-index:999;position:fixed;
}
#container2 {
  
  position:relative;
  width:640px;
  height:100px;
  z-index:999;position:fixed;
}
div#title {text-align:right;font-size:140px;font-weight:bold;font-family:Arial, Helvetica, Verdana, sans-serif;letter-spacing:-10px;color:#fff;line-height:105px;padding:110px 10px 0 0;}

#overlay2 {
  position:absolute;
  top:0;
  left;0;
  width:640px;
  height:100px;
  background:url(../img/coracoes.png);
}
#download {
  position:absolute;
  top:0;
  left;0;
  width:640px;
  height:100px;
}

pre {padding:20px;background:#f2f2f2;font-weight:bold;width:600px;}
div.note {padding:10px 20px 10px 20px;background:#f2f2f2;font-weight:normal;width:600px;}
div.note h3 {padding:0;margin:0;color:#e00000;}
span.red {color:#e00000;}
span.grey {color:#999;}

.conteudo{
  background:#000;
  height: 0%; 
  width:80%;
  z-index: 1;
  position: relative;
  margin: auto;
}

.idvisual{
  z-index: 9999;
  position: fixed;
  margin-top: 70px;
  margin-left: 8%;
  width: 320px;
  background:none;
}

.geral{
  background:none;
  position: fixed;
  z-index: 9999;
    /* center the element */
    right: 0;
    left: 0;
    margin-top:0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    width: 100%;
    height: 100%;
}

.menu ul{
  background: none;
  position: fixed;
  z-index: 9999;
  margin-top: 230px;
  margin-left: 8%;
  color: #907830;
  list-style: none;
  font-weight: bold;
}

section{
  background:#000;
 margin: -400px 0 -300px 0;
 height: 950px;
}


@font-face {
font-family: ChampagneLimousines;
src: url(‘ChampagneLimousines.ttf’)format(‘truetype’);;
}

@font-face {
  font-family: ChampagneLimousines;
  src: local("ChampagneLimousines"),
  local("ChampagneLimousines"),
  url(ChampagneLimousines.ttf);
  font-weight: bold;
}

.introducao{
  background: none;
  margin: -600px 0 -100px -30px;
  font-size: 40px;
font-family: ChampagneLimousines;
color:#61371c;
}


.introducao h1{
  font-size: 60px;
}

  .introducao h2{
    font-size: 50px;
    margin-top: -80px;
    margin-left: 40px;
  }

  .introducao h3{
    font-size: 60px;
    margin-top: -80px;
    margin-left: 200px;
  }

  .introducao h4{
    font-size: 40px;
    margin-top: -60px;
    margin-left: 200px;
    color:#000;
  }

.sobre{
margin: -120px 0 -100px -30px;
font-family: ChampagneLimousines;
color: #967f49;
font-size:18px;
}

.estetica{
  margin: 500px 0 -100px -30px;
  background: none;
  margin: -300px 0 -300px 0;
  font-size: 20px;
  color: #61381f;
  font-weight: bold;
  height: 400px;
}

.beleza{
  background:;
  margin: -200px 0 -300px 0;
  font-size: 20px;
    color: #61381f;
  font-weight: bold;
}

.rodape{
  width: 100%;
  height: 200px;
position: absolute; bottom: 0;
  background: none;
}

.cdescricao{
  color: #61381f;
  text-align:right;
}

.cdescricao2{
  color: #61381f;
  text-align:left;
  font-size: 20px;
}